.header{
    height: 95vh;
    background: linear-gradient(to right bottom, rgba(238,174,202,1) 1%, rgba(232,155,219,1) 50%, rgba(233,148,148,1) 100%);
    border-radius: 10px;
    color:rgb(48, 48, 54);

    -webkit-clip-path: polygon(0 0,100% 0, 100% 75vh, 0 100%);
    clip-path: polygon(0 0,100% 0, 100% 75vh, 0 100%);
}

.experience{
    margin-top: -13rem;
    padding: 15rem 5rem;
    height: 95vh;
    background-color:rgb(255, 250, 255);
    
}

.patent{
    height: 95vh;
    margin-top: -10rem;
    padding: 10rem 5rem;
    /* -webkit-clip-path: polygon(0 0,100% 0, 100% 75vh, 0 100%); */
    clip-path: polygon(0 0,100% 10vh, 100% 100%, 0 85%);
    background-color: palegreen;
}

.experience__title{
    font-weight: 400;
    font-size: 2.3rem;
    color: rgba(46, 44, 44, 0.815);
}

.experience__divider{
    border: 1px solid rgba(43, 42, 42, 0.151);
    width: 75%;
}

.experience-block__head{
    display: flex;
}

.circle {
    height: 50px;
    width: 50px;
    border: 2px solid rgba(43, 42, 42, 0.336);
    border-radius: 50%;
}



.patents-body{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 1rem 0;
}

.patent-container{
    background-color: #f0e5e5;
    padding: 3rem;
    border-radius: 5px;
    width: 40%;
    margin-right: 5%;
    display: flex;
    flex-direction: column;
}


.utility__spacer{
    margin-bottom: 1rem;
}


.patent-footer{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}


.patent__button{
    margin: 1rem;
    color:rgb(39, 38, 36);
    border: 3px solid rgb(39, 38, 36);
    padding: .2rem 1rem;
    font-size: 1.1rem;
    background-color: transparent;
    transition: .3s all;
}

.patent__button:hover{
    transform: translateY(-2px);
    cursor: pointer;
    transition: .2s all;
}

.patent__button:active{
    transform: translateY(2px);
    transition: .2s all;
}

