
.header{
    height: 95vh;
    background: linear-gradient(to right bottom, rgba(238,174,202,1) 1%, rgba(232,155,219,1) 50%, rgba(233,148,148,1) 100%);
    border-radius: 10px;
    color:rgb(235, 222, 206);

    clip-path: polygon(0 0,100% 0, 100% 75vh, 0 100%);
    -webkit-clip-path: polygon(0 0,100% 0, 100% 75vh, 0 100%);
}

.header__container{
    height: 50vh;
    padding: 10rem 10vh;
    display: flex;
    flex-direction: column;
}

.header__name{
    font-size: 10rem;
    font-weight: 400;
    transition: 1s all;
}

.header__name:hover{
    transform: translateY(-3px);
}

.experience{
    margin-top: -13rem;
    padding: 15rem 5rem;
    height: 95vh;
    background-color:rgb(235, 222, 206);
    
}

.experience__title{
    font-weight: 400;
    font-size: 2.3rem;
    color: rgba(46, 44, 44, 0.815);
}

.experience__divider{
    border: 1px solid rgba(43, 42, 42, 0.151);
    width: 75%;
}

.experience-block__head{
    display: flex;
}

.circle {
    height: 50px;
    width: 50px;
    border: 2px solid rgba(43, 42, 42, 0.336);
    border-radius: 50%;
}



.patents-body{
    display: flex;
    flex-direction: row;
}