/* Variables */

:root{
  --blue: #30BCED;
  --ghostwhite: #FFFAFF;
  --gray: #444545;
  --jasper: #D66853;
  --mint: #52B788;
}

$bp-largest: 75em; //1200px
$bp-large: 68.75em; //1100px
$bp-medium: 56.25em; //900px
$bp-small: 37.5em; //600px
$bp-smallest: 31.25em; //500px
$bp-smallester: 25em;

/* Global Resets */

/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}
/* 2. Remove default margin */
* {
  margin: 0;
}
body {
  /* 3. Add accessible line-height */
  line-height: 1.5;
  /* 4. Improve text rendering */
  -webkit-font-smoothing: antialiased;
  font-family: "Lato", serif;
}
/* 5. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
/* 6. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}
/* 7. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
/* 8. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

/*
  9. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}


html {
  //this defines what 1rem is
  font-size: 62.5%; //1rem = 10px; 10px / 16px = 62.5
  
  @media only screen and (min-width: $bp-largest) {
    font-size: 75%; //1rem = 12px, 12/16 
  }

  @media only screen and (max-width: $bp-large){
      font-size: 56.25%; //1 rem =  
  }

  @media only screen and (max-width: $bp-medium){
      font-size: 50%; //1 rem = 8px, 8/16 = 56.25%;
  }

  
  @media only screen and (max-width: $bp-smallest){
      font-size: 50%; //1 rem = 8px, 8/16 = 50%
  }
}

